html {
    height: 100%;
}

/* Background set to red for the sake of seeing any "gaps" */
body {
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    background: #171716;
}

.bottom {
    position: fixed;
    bottom: 0%;
    height: 10px;
    width: 100%;
    background: rgb(0,0,0);
}

.btn {
    color: rgb(0, 0, 0);
}

.container_main {
    color: #fffafa;
    position: absolute;
    top: 7%;
    height: 93%;
    margin-right: 3.5%;
    margin-left: 3.5%;
    margin-top: 2%;
    background: #171716;
    padding-left: 4%;
    padding-right: 4%;
}

.footer-text{
    color: dimgrey;
    font-size: 8px;
    text-align: center;
}

.navbutton {
    color: white;
}

.nav2 {
    position: absolute;
    width: 100%;
    height: 7%;
    background-color: #2a2a2a;
    top: 0px;
    margin: 0px;
    z-index: 3;
    color: white;
}

/* Centred sample logo on nav bar, will update to proper logo later */
.nav-img {
    position: absolute;
    display: block;
    float: left;
    height: 100%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1%;
}

.navbar1 {
    position: relative;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    height: 100%;
}

.navitem {
    text-align: center;
    height: 100%;
    padding: 0.8%;
    position: static;
    float: left;
    color: #fffafa;
    border-color: #fffafa;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    font-size: calc(1em);
    font-weight: bold;
    transition: background 1000ms, color 1000ms;
}
.navitem:link{
    color: #fffafa;
}
.navitem:visited{
    color: #fffafa;
}

.navitem:hover {
    color: #2a2a2a;
    background-color: #fffafa;
}

/*Projects card style*/
#project {
    position: relative;
}

.row {
    position: relative;
}

.carouselcont {
    position: absolute;
    top: 6.5%;
    display: block;
    width: 100%;
    height: 73%;
    justify-items: center;
    background: #d6d2d2;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffafa;
    cursor: pointer;
}

.header {
    background-color: #00AFCE;
    text-align: center;
    color: white;
    padding: 30px;
    padding-top: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}

.flex-container > div {
    background-color: #444444;
    color: white;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    border-color: #5e5e5e;
}

.overview {
    padding: 10px;
}

.posterimg {
    height: 1040px;
    width: 555px;
    display: flex;
}

#showcaseimg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#showcaseimg:hover {
    opacity: 0.7;
}

/*poster image modal background*/
.postermodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/*poster modal content*/
.mcontent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*close button modal*/
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

@media only screen and (max-width: 700px) {
    .mcontent {
        width: 100%;
    }
}

.centeryt {
    display: flex;
    justify-content: center;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #f1f1f1;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #f1f1f1;
}

.card {
    padding: 10px;
    text-align: center;
    background-color: #2a2a2a;
    margin: 8px;
    border-style: solid;
    border-color: #2a2a2aaf;
    /*
    border: solid;
    border-color: #f1f1f1;
    border-width: 1px;
    border-radius: 3px;*/
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(102, 102, 102, 0.2);
}

.justify {
    text-align: justify;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    color: black;
    width: 100%;
    height: 400px;
    margin: 1.6%;
    border-radius: 5px;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


/*Toast Elements*/
#toast {
    visibility: hidden;
    width: 300px;
    margin-left: -150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    position: fixed;
    left: 50%;
    bottom: 100px;
  }
  
#toast.show {
visibility: visible;
-webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

.hide {
display: none;
}

/*Modal styles*/
.project-modal{
background-color: white; top:50px; 
border-radius: 15px;
}

.modal-body {
padding: 2px 16px;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
