html {
    height: 100%;
}

div {
    margin: 0;
    padding: 0;
}

/* Background set to red for the sake of seeing any "gaps" */
body {
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    background: #171716;
}

.bottom {
    position: fixed;
    bottom: 0%;
    height: 10px;
    width: 100%;
    background: rgb(0,0,0);
}

.btn {
    color: rgb(0, 0, 0);
}

.container_main {
    color: #fffafa;
    position: absolute;
    top: 7%;
    height: 93%;
    margin-right: 3.5%;
    margin-left: 3.5%;
    margin-top: 2%;
    background: #171716;
    padding-left: 4%;
    padding-right: 4%;
}

.footer-text {
    color: dimgrey;
    font-size: 8px;
    text-align: center;
}

.navbutton {
    color: white;
}

.nav2 {
    position: absolute;
    width: 100%;
    height: 7%;
    background-color: #2a2a2a;
    top: 0px;
    margin: 0px;
    z-index: 3;
    color: white;
}

/* Centred sample logo on nav bar, will update to proper logo later */
.nav-img {
    position: absolute;
    display: block;
    float: left;
    height: 100%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1%;
}

.navbar1 {
    position: relative;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    height: 100%;
}

.navitem {
    text-align: center;
    height: 100%;
    padding: 0.8%;
    position: static;
    float: left;
    color: #fffafa;
    border-color: #fffafa;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    font-size: calc(1em);
    font-weight: bold;
    transition: 300ms;
}

    .navitem:hover {
        color: #2a2a2a;
        background-color: #fffafa;
    }

.SignUp {
    text-align: center;
    height: 100%;
    padding: 0.8%;
    position: static;
    float: left;
    color: #fffafa;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    font-size: calc(1em);
    font-weight: bold;
    transition: 300ms;
}

    .SignUp:hover {
        background-color: #ff7824;
    }

/*Projects card style*/
#project {
    position: relative;
}

.row {
    width: 100%;
    position: relative;
    margin-top: 0.6%;
    margin-bottom: 3%;
    color: #ff914d;
    font-size: 55px;
    font-weight: 800;
}

.carouselcont {
    position: absolute;
    top: 6.5%;
    display: block;
    width: 100%;
    height: 73%;
    justify-items: center;
    background: #d6d2d2;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffafa;
    cursor: pointer;
}


.overview {
    padding: 10px;
}

.posterimg {
    height: 1040px;
    width: 555px;
    display: flex;
}

#showcaseimg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #showcaseimg:hover {
        opacity: 0.7;
    }

/*poster image modal background*/
.postermodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/*poster modal content*/
.mcontent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*close button modal*/
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

@media only screen and (max-width: 700px) {
    .mcontent {
        width: 100%;
    }
}

.centeryt {
    display: flex;
    justify-content: center;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #ff914d;
    font-size: 25px;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 3%;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #f1f1f1;
    font-size: 14px;
    margin-bottom: 25px;
    font-style: italic;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.card {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    background-color: #373433;
    margin: 8px;
    opacity: 0.85;
    /*
    border: solid;
    border-color: #f1f1f1;
    border-width: 1px;
    border-radius: 3px;*/
}


    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(102, 102, 102, 0.2);
        border-style: solid;
        border-color: #ff914d;
        transition: 0.5s;
        border-width: 1px;
        opacity: 1.2;
    }

.justify {
    align-self: center;
}


.proj-btn {
    border-style: solid;
    border-color: white;
    color: white;
    background-color: #373433;
    border-radius: 15px;
    border-width: 1px;
    transition: 0.2s;
    font-weight: 100;
    font-size: 12px;
}

    .proj-btn:hover {
        border-style: solid;
        color: #ff914d;
        transition: 0.2s;
        border-width: 1px;
    }

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    transition: 0.3s;
    float: left;
    color: black;
    width: 29%;
    height: 340px;
    margin: 2.16%;
    border-radius: 15px;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


/*Toast Elements*/
#toast {
    visibility: hidden;
    width: 300px;
    margin-left: -150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    position: fixed;
    left: 50%;
    bottom: 100px;
}

    #toast.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
        animation: fadein 0.5s, fadeout 0.5s 4.5s;
    }

.hide {
    display: none;
}

/*Modal styles*/
.projectModal {
    background-color: white;
    top: 50px;
    border-radius: 15px;
    transition: 0.5s;
}

.modal-body {
    padding: 16px;
    border-color: transparent;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-fs {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content2 {
    height: 100%;
    border-radius: 15px;
}

.lineup {
    margin-left: 150px;
    margin-right: 150px;
    padding: 35px;
}

.header {
    background-color: #2a2a2a;
    color: white;
    padding: 35px;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
}

    .flex-container > div {
        background-color: white;
        color: black;
        width: 100%;
        border-color: #5e5e5e;
    }

.centered-div {
    align-items: center;
    display: flex;
    justify-content: center;
}

.commentfields {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .commentfields > input {
        padding-top: 4px;
        padding-left: 9px;
        padding-bottom: 4px;
        border-radius: 24px;
        background-color: #e6e6e6;
        border-color: transparent;
    }

.textarea {
    width: 650px;
    height: 150px;
    border-radius: 24px;
    padding-left: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #e6e6e6;
    border-color: transparent;
}
